@font-face {
    font-family: "Segoe WP Light";
    src: url("fonts/SegoeWPLight.ttf");
}

body {
    margin: 0;
    padding: 0;
    background: #f2f3f4;
}

nav {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.content {
    max-width: 1250px;
    margin: 0 auto;
    background: #000000;
}

.header {
    height: 89px;
    background: #fff;
    padding: 6px 140px 0;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    float: left;
}

.imageLogo {
    margin-top: 11px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background: #5094F2;
    padding: 10px;
}

.imgLogo {
    display: block;
    width: 24px;
    height: 24px;
    filter: invert(1);
}

.textLogo {
    font-family: "Segoe WP Light", sans-serif;
    font-size: 42px;
    margin-left: 6px;
}

.small-menu {
    display: none;
}

.menu {
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    height: calc(100% - 16px);
}

.menu a:not(:last-child) {
    margin-right: 10px;
}

.menu a {
    display: block;
    height: 100%;
    padding-top: 18px;
    color: #6C6C6C;
    text-decoration: none;
    font-family: "Segoe WP Light", sans-serif;
    font-size: 20px;
}

.menu a:hover::after {
    content: "";
    display: block;
    border-bottom: 4px solid #5094F2;
    margin-top: 15px;
}

.carousel {
    height: 490px;
    overflow: hidden;
    position: relative;
}

.carousel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/carouselBackground.png");
    filter: blur(10px);
    z-index: 0;
}

.carouselContent {
    position: absolute;
    height: 90%;
    width: 72%;
    margin-left: calc((100% - 72%) / 2);
    margin-right: calc((100% - 72%) / 2);
    bottom: 0;
    z-index: 1;
}

.carouselContent > img {
    height: 100%;
    display: block;
    float: left;
}

.carousel-hidden {
    display: none;
}

.text-carousel {
    float: left;
    margin-left: 104px;
    margin-top: 115px;
    font-family: "Segoe WP Light", sans-serif;
    color: #fff;
}

.text-carousel h3 {
    font-size: 42px;
}

.text-carousel p {
    margin-top: 20px;
    font-size: 25px;
}

.text-carousel button {
    height: 41px;
    padding: 8px 10px;
    background-color: #0a58ca;
}

.imgButton {
    width: 24px;
    height: 24px;
}

.imgButton {
    width: 24px;
    height: 24px;
    float: left;
}

.text-carousel button {
    border: none;
    margin-left: 12px;
    margin-top: 15px;
}

.text-carousel button img {
    width: 24px;
    height: 24px;
    display: block;
    float: left;
    filter: invert(1);
}

.text-carousel button .textButton {
    font-size: 22px;
    line-height: 22px;
    color: #fff;
    font-family: "Segoe WP Light", sans-serif;
    float: left;
    margin-left: 10px;
}

.arrowLeft {
    display: block;
    position: absolute;
    top: 214px;
    left: 76px
}

.arrowRight {
    display: block;
    position: absolute;
    top: 214px;
    right: 76px
}

.main {
    background: #fff;
    padding-top: 60px;
    padding-bottom: 50px;
}

.categories {
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: space-between;
}

.categories section {
    width: 250px;
}

.logoSection {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
    width: 187px;
    height: 187px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoToPopular {
    display: block;
}

.h-section {
    margin-bottom: 9px;
    font-size: 20px;
    color: #5094F2;
    font-family: "Segoe WP Light", sans-serif;
    text-align: center;
}

.text-section {
    margin: 0;
    font-size: 14px;
    color: #909090;
    font-family: "Segoe WP Light", sans-serif;
    text-align: center;
}

.logoSect1 {
    background: #5094F2;
}

.img-logo-sect1 {
    width: 79px;
    height: 109px;
    margin-left: 5%;
}

.logoSect2 {
    background: #D94748;
}

.img-logo-sect2 {
    width: 97px;
    height: 82px;
}

.logoSect3 {
    background: #EBBB11;
}

.img-logo-sect3 {
    width: 101px;
    height: 91px;
    margin-left: 3%;
}

.shoppingCart {
    margin-top: 91px;
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    justify-content: space-between;
}

.shoppingCart_leftContent {
    width: 371px;
}

.shoppingCart_leftContent h3 {
    margin-bottom: 33px;
    font-size: 42px;
    color: #6F7173;
    font-family: "Segoe WP Light", sans-serif;
    text-align: center;
}

.shoppingCart_leftContent img {
    width: 371px;
    height: 279px;
}

.shoppingCart_rightContent {
    width: 453px;
    margin-top: 55px;
}

.shoppingCart_rightContent h4 {
    margin-bottom: 34px;
    font-size: 26px;
    color: #6F7173;
    font-family: "Segoe WP Light", sans-serif;
}

.shoppingCart_rightContent p {
    font-family: "Segoe WP Light", sans-serif;
    font-size: 15px;
    color: #909090;
}

.delimiter {
    height: 1px;
    background: #909090;
}



.footer {
    background: #fff;
    height: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 0;
    text-align: center;
    font-size: 15px;
    font-family: "Segoe WP Light", sans-serif;
    color: #909090;
}